.placeholder,
img {
  background: #bfc1c5;
  border-radius: 5px;
  display: block;
}
.placeholder {
  color: white;
  height: 45px;
  line-height: 45px;
  text-align: center;
  width: 45px;
  p {
    margin: 0;
  }
}
