
<header>
  <h1>{{title}}</h1>
</header>
<form [formGroup]="productForm" (ngSubmit)="sendData()">
  <div class="form-row">
    <div>
      <label>ID</label>
      <input formControlName="id" />
      <app-input-error
        *ngIf="this.productForm.get('id')?.touched"
        [error]="this.productForm.get('id')?.errors"></app-input-error>
    </div>
    <div>
      <label>Nombre</label>
      <input formControlName="name" />
      <app-input-error
        *ngIf="this.productForm.get('name')?.touched"
        [error]="this.productForm.get('name')?.errors"></app-input-error>
    </div>
  </div>
  <div class="form-row">
    <div>
      <label>Descripción</label>
      <input formControlName="description" />
      <app-input-error
        *ngIf="this.productForm.get('description')?.touched"
        [error]="this.productForm.get('description')?.errors"></app-input-error>
    </div>
    <div>
      <label>Logo</label>
      <input formControlName="logo" />
      <app-input-error
        *ngIf="this.productForm.get('logo')?.touched"
        [error]="this.productForm.get('logo')?.errors"></app-input-error>
    </div>
  </div>
  <div class="form-row">
    <div>
      <label>Fecha liberación</label>
      <input formControlName="date_release" type="date" />
      <app-input-error
        *ngIf="this.productForm.get('date_release')?.touched"
        [error]="this.productForm.get('date_release')?.errors"></app-input-error>
    </div>
    <div>
      <label>Fecha revisión</label>
      <input formControlName="date_revision" type="date" />
    </div>
  </div>
  <div class="form-footer">
    <app-button-generic
      (click)="restartForm()"
      buttonText="Reiniciar"
      buttonBgColor="gray"
      buttonType="button" />
    <app-button-generic
      [disabled]="productForm.invalid"
      buttonText="Enviar"
      buttonBgColor="yellow"
      buttonType="submit" />
  </div>
</form>
